<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Wypożyczalnia Aut</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CarRental.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-pro sticky-top">
        <div class="container">
            
            <a class="navbar-brand" asp-area="" asp-page="/Index">
                <i class="fa-solid fa-car"></i> 
                <span>CAR RENTAL</span>
            </a>

            <div class="collapse navbar-collapse flex-grow-1 justify-content-end" id="navbarContent">
                
                <ul class="navbar-nav d-flex flex-row align-items-center gap-2">                  
                    
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Cars">Samochody</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Privacy">Kontakt</a>
                    </li>

                    <li class="nav-item ms-2">
                        <a class="nav-link btn-cta" asp-page="/Cars">Rezerwuj</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - CarRental - <a asp-area="" asp-page="/Privacy">Polityka Prywatności</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>